/**
 *   Eric Meyer's Reset CSS v2.0
 *(http://meyerweb.com/
 *eric/tools/css/reset/)
 *   http: */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 2em;
  font-size: 0.9rem;
  position: relative;
  color: #656565;
  box-sizing: border-box; }

h1 {
  font-size: 3.15rem;
  font-weight: 400; }

h2 {
  font-size: 2.7rem;
  font-weight: 400; }

h3 {
  font-size: 2.16rem;
  font-weight: 400; }

h4 {
  font-size: 1.8rem;
  font-weight: 400; }

h5 {
  font-size: 1.35rem;
  font-weight: 400; }

h6 {
  font-size: 0.9rem;
  font-weight: 400; }

img {
  width: 100%;
  vertical-align: middle; }

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.overflow {
  background: rgba(52, 73, 94, 0.8);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.title {
  padding: 20px 20px 20px 0; }

.content {
  font-size: 1.2rem; }

.btn {
  display: inline-block;
  text-align: center;
  background: #00796b;
  color: #fff;
  text-decoration: none;
  padding: 8px 20px; }

.btn:hover {
  background: #512da8; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: -25px; }

input {
  transition: all 0.3s ease-in-out; }

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none; }

label {
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.menubar {
  width: 100%; }
  .menubar__icon {
    position: relative;
    top: 7px;
    left: -5px; }
    .menubar__icon svg {
      width: 24px;
      height: 24px; }
      .menubar__icon svg path {
        fill: #34495e; }
  .menubar__list__item {
    display: inline-block;
    padding: 10px; }
    .menubar__list__item a {
      text-decoration: none;
      color: #656565;
      padding: 10px; }

.hero {
  width: 100%;
  height: 400px;
  background-color: #512da8;
  background: url(../img/hero.jpg) center center/cover;
  position: relative;
  overflow: hidden; }
  .hero__home {
    height: 500px; }
  .hero__title {
    color: #fff;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rancho', cursive;
    font-size: 3rem;
    text-align: center;
    line-height: 1.3;
    text-shadow: 3px 3px 10px #000; }

@media screen and (min-width: 860px) {
  .hero__home {
    height: 650px; }
  .hero__title {
    font-size: 4rem; } }

@media screen and (min-width: 1000px) {
  .hero__home {
    height: 800px; }
  .hero__title {
    font-size: 5rem; } }

@media screen and (min-width: 1400px) {
  .hero__title {
    font-size: 7rem; } }

.hero .menubar__icon svg path {
  fill: #fff; }

.hero .menubar__list__item a {
  color: #fff; }

.footer .flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center; }

.footer__menu {
  color: #656565;
  text-decoration: none;
  padding: 10px;
  margin: 10px; }

.post__container {
  width: 760px;
  margin: 40px auto; }

.post__article {
  margin: 40px 0; }

.post__img {
  height: 300px; }

.post__btn {
  padding: 5px 10px;
  line-height: 1.5; }

.pagination {
  width: 760px;
  margin: 20px auto; }

.notify {
  position: fixed;
  bottom: 0;
  right: 0;
  background: green;
  z-index: 99;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.notification {
  width: 100%;
  color: #656565;
  position: relative;
  background: #fff;
  z-index: 99;
  bottom: -50%;
  right: 0;
  opacity: 0;
  box-shadow: 0 0 3px #34495e;
  transition: all 0.3s ease-in-out; }
  .notification__open {
    bottom: 0;
    opacity: 1; }
  .notification__icon {
    float: left;
    padding: 20px;
    color: #fff;
    background: #512da8; }
  .notification__title {
    padding: 10px;
    font-size: 1.2rem;
    display: -ms-flexbox;
    display: flex; }
  .notification__content {
    padding: 0 10px 10px;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.3; }
  .notification__close {
    position: absolute;
    top: 0;
    right: 0; }

.layout1 {
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative; }
  .layout1 .flex {
    z-index: 2; }
  .layout1__article {
    margin: 20px; }
  .layout1__aside {
    margin: 20px;
    margin-top: 40px; }
    .layout1__aside__item {
      clear: both; }
    .layout1__aside__img {
      float: left;
      width: 100px;
      border: solid 1px;
      margin: 0 20px 20px 0; }
    .layout1__aside .title {
      padding: 0; }
    .layout1__aside .content {
      font-size: 0.9rem;
      line-height: 1.33333em;
      padding: 2px; }

@media screen and (min-width: 860px) and (max-width: 1000px) {
  .layout1__aside:before {
    content: '';
    display: block;
    height: 1px;
    width: 95.7%;
    position: absolute;
    margin: -55px auto;
    background: rgba(52, 73, 94, 0.3); }
  .layout1__aside {
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px; } }

@media screen and (min-width: 1000px) {
  .layout1 {
    padding-top: 120px;
    padding-bottom: 120px; }
    .layout1::after {
      background: url("../img/triangle.svg") no-repeat;
      bottom: -116px;
      content: '';
      height: 100%;
      left: -19px;
      position: absolute;
      width: 100%;
      z-index: 1; }
    .layout1 .flex {
      display: -ms-flexbox;
      display: flex; }
    .layout1__article {
      width: 80%; }
    .layout1__aside:before {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      margin-left: -25px;
      position: absolute;
      background: rgba(52, 73, 94, 0.3); }
    .layout1__aside {
      position: relative; }
      .layout1__aside__item {
        margin-top: 20px; } }

.layout2 {
  padding: 40px;
  position: relative;
  overflow: hidden; }
  .layout2 .flex {
    z-index: 2; }
  .layout2__article {
    padding-bottom: 20px;
    position: relative; }
  .layout2__title {
    transform: translate(0, -30px);
    margin-top: -74px;
    margin-bottom: -8px;
    background: #fff;
    z-index: 5;
    position: relative;
    width: 75%;
    font-size: 1.5rem;
    padding: 10px;
    box-shadow: -4px 4px #512da8, 4px -4px #00796b; }
  .layout2__img {
    margin: 20px; }
  .layout2__content {
    margin: 20px;
    font-size: 1rem; }
  .layout2 .btn {
    display: block;
    margin-top: 20px; }

@media screen and (min-width: 660px) {
  .layout2__article {
    width: 50%; }
  .layout2 .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center; }
  .layout2 .btn {
    display: inline-block;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0); } }

@media screen and (min-width: 1000px) {
  .layout2 {
    padding-top: 120px;
    padding-bottom: 120px; }
    .layout2::after {
      content: '';
      width: 25%;
      height: 100%;
      right: 0;
      bottom: -379px;
      z-index: 1;
      position: absolute;
      background: url(../img/box.svg) no-repeat;
      transform: scale(1.5); }
    .layout2__article {
      width: 33%; }
    .layout2 .flex {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }

.layout3 {
  background-color: #512da8;
  background: linear-gradient(145deg, #512da8, #00796b);
  padding-top: 40px;
  padding-bottom: 40px; }
  .layout3__article {
    margin: 20px;
    color: #fff; }
  .layout3__title {
    font-size: 1.2rem; }
  .layout3__content {
    font-size: 0.9rem;
    line-height: 1.7; }

@media screen and (min-width: 860px) {
  .layout3 .flex {
    display: -ms-flexbox;
    display: flex; }
  .layout3__article {
    width: 80%; } }

@media screen and (min-width: 1000px) {
  .layout3 {
    padding: 60px; } }

.layout4 {
  background-color: #512da8;
  background: linear-gradient(145deg, #512da8, #00796b);
  padding-top: 40px;
  padding-bottom: 40px; }
  .layout4__article {
    margin: 20px auto;
    color: #fff;
    text-align: center; }
  .layout4__title {
    font-size: 1.2rem; }
  .layout4__content {
    font-size: 0.9rem;
    line-height: 1.7; }

@media screen and (min-width: 860px) {
  .layout4 .flex {
    display: -ms-flexbox;
    display: flex; }
  .layout4__article {
    width: 60%; } }

@media screen and (min-width: 1000px) {
  .layout4 {
    padding: 60px; } }

.layout5 {
  position: relative;
  background: #34495e;
  overflow: hidden; }
  .layout5 .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .layout5 .flex .layout5__item {
      width: 50%; }
  .layout5__item {
    position: relative;
    overflow: hidden; }
    .layout5__item:hover img {
      -webkit-filter: blur(15px);
      filter: blur(15px); }
    .layout5__item:hover .layout5__title {
      top: 40%; }
    .layout5__item:hover .layout5__btn {
      top: 60%;
      opacity: 1; }
  .layout5--img {
    transition: all 0.3s ease-in-out;
    margin-bottom: -11px; }
  .layout5__btn {
    position: absolute;
    z-index: 10;
    opacity: 0;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    padding: 5px 10px;
    background: transparent;
    border: solid 1px; }
    .layout5__btn:hover {
      background: transparent; }
  .layout5__title {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -50%);
    color: #fff;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out; }

@media screen and (min-width: 860px) {
  .layout5 .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .layout5 .flex .layout5__item {
      width: 100%; } }

@media screen and (min-width: 1300px) {
  .layout5__title {
    font-size: 1.4rem;
    left: 40%; } }

.layout6 {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .layout6__contain {
    padding-bottom: 20px;
    padding-top: 80px; }
  .layout6__title {
    text-align: center; }
  .layout6__map {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden; }
  .layout6__overlay {
    position: absolute;
    z-index: 99;
    background: linear-gradient(#fff, transparent);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .layout6__content {
    text-align: center;
    margin-top: 20px; }
  .layout6 .contain {
    max-width: 600px;
    margin: 0 auto -10%;
    position: relative;
    z-index: 200;
    padding: 20px; }

.contact__form .btn {
  border: none;
  margin-left: 50%;
  transform: translate(-50%, 0); }

.contact__form__input {
  width: 95%;
  background: none;
  border: none;
  padding: 0 10px;
  font-size: 1.3rem;
  position: relative; }

.contact__form__tyinput {
  padding: 20px 0; }
  .contact__form__tyinput input:focus,
  .contact__form__tyinput textarea:focus,
  .contact__form__tyinput keygen:focus,
  .contact__form__tyinput select:focus, .contact__form__tyinput:after {
    content: '';
    border-bottom: solid 2px blue;
    animation: line 0.3s ease; }

.contact__form__textarea {
  height: 20px;
  transition: all 0.3s ease-in-out; }
  .contact__form__textarea:focus {
    height: 200px; }

.gmnoprint {
  display: none; }

@keyframes line {
  0% {
    width: 0%; }
  100% {
    width: 92%; } }
