|---
|layout: home
|title: Tech Ventures Inc
|description: website description
|image: '/assets/img/l51.jpg'
|author: kerron gordon
|---

|{% include layout/layout1.html %}
|{% include layout/layout3.html %}
|{% include layout/layout2.html %}
|{% include layout/layout4.html %}
|{% include layout/layout5.html %}
