script
  |function initMap() {
  |      var myLatLng = {lat: {{ site.google.maps.lat }}, lng: {{ site.google.maps.lng }} };
  |      var map = new google.maps.Map(document.getElementById('map'), {
  |        zoom: {{ site.google.maps.zoom }},
  |        center: myLatLng
  |      });
  |      var marker = new google.maps.Marker({
  |        position: myLatLng,
  |        map: map,
  |        title: 'Hello World!'
  |      });
  |    }

script(src="https://maps.googleapis.com/maps/api/js?key={{ site.google.maps.ApiKey }}&callback=initMap" async defer) 
