| {% if include.top %}

//- script(src="https://use.fontawesome.com/c4f6a97eb0.js") 

| {% endif %}

| {% if include.bottom %}

script(src="{{ 'assets/js/main.js' | prepend: site.baseurl }}")

| {% endif %}
