|---
|layout: default
|---

|{% include hero.html posttitle="hero__posttitle" postimg=page.thumbnail %}

section.post
  .post__container
    
    header.post__header
      
    .post__content
      |{{ content }} 
      
    .post__footer
      hr
      span Posted on {{ page.date | date: "%b %d, %y" }}
      hr
    |{% if page.comments %}
    |{% include disqus.html %}    
    |{% endif %}
  

|{% include layout/layout4.html %}
