|---
|layout: default
|---


|{% include hero.html posttitle="hero__posttitle" %}

section.post
  .post__container
    
    header.post__header
      
    .post__content
      |{{ content }} 
        

|{% include layout/layout5.html %}
