- var lay4 = "layout4"

section(class="#{lay4}")
  .container.flex
    article(class="#{lay4}__article")
      h3(class="title #{lay4}__title") Vestibulum aliquid eu
      p(class="content #{lay4}__content") Vestibulum aliquid eu harum dictum inventore, placeat aperiam, mi hendrerit
        | minima posuere ullamco occaecati,corporis. Ab pulvinar sit similique leo consequatur!
        | Possimus, dapibus eros asperiores.