|---
|layout: page
|title: Blog
|---

<!-- This loops through the paginated posts -->

section.post 
  .post__container 
  
    |{% for post in paginator.posts %}
  
    article.post__article
      header.post__header
        img(src="{{ site.baseurl }}assets/img/postImg/{{ post.thumbnail }}").post__img
        h4.title.post__title {{ post.title }}
        
      .post__content
        | {{ post.excerpt }} 
        
      .post__footer
        hr
        span.left Posted on {{ post.date | date: "%b %d, %y" }}
        a(href="{{ site.baseurl }}{{ post.url }}").btn.post__link.right Read More 
        .clear
        hr
      
    |{% endfor %}

<!-- Pagination links -->
.pagination
  .left
    |{% if paginator.previous_page %}
    a(href="{{ paginator.previous_page_path }}" class="btn post__btn previous") Previous
    |{% else %}
    span(class="previous") Previous
    |{% endif %}
    
    |{% if paginator.next_page %}
    a(href="{{ paginator.next_page_path }}" class="btn post__btn next") Next
    |{% else %}
    span(class="next ") Next
    |{% endif %}
  
  .right
    span(class="page_number") Page: {{ paginator.page }} of {{ paginator.total_pages }}
  
  .clear
  
|{% include layout/layout4.html %}
