footer.footer
  .container.flex
    a.footer__menu(href="#") Documentation
    a.footer__menu(href="#") Blog
    a.footer__menu(href="#") Jobs
    a.footer__menu(href="#") Terms
    a.footer__menu(href="#") Privacy
    a.footer__menu(href="#") Site Map

//- .notify
//-   | {% include meta/notification.html name="test" icon="fa-bell" title="Although they're optional" content="you should add at least one action to your notification. An action allows users" %}
//-   | {% include meta/notification.html name="test2" icon="fa-bell" title="Although they're optional" content="you should add at least one action to your notification. An action allows users" %}

| {% include meta/scripts.html bottom="true" %}