|{% if include.postimg %}
section(class="hero" style="background-image: url({{ site.baseurl }}assets/img/postImg/{{ include.postimg }})")

  |{% include menubar.html %}

  h1(class="hero__title {{ include.posttitle }}")  {{ page.title }}

|{% else %}
section(class="hero {{ include.home }}")

  |{% include menubar.html %}
  
  h1(class="hero__title {{ include.posttitle }}")  {{ page.title }}

|{% endif %}
