section.menubar
  ul.menubar__list
    li.menubar__list__item 
      a(href="#") Home
    li.menubar__list__item 
      a(href="#") Infor
    li.menubar__list__item 
      a(href="#") About
    li.menubar__list__item 
      a(href="#") Contact
  