.hero
	width: 100%
	height: 500px
	background-color: $primary-color
	background: linear-gradient(145deg, $primary-color, $accent-color)
	perspective: 1000px
	overflow: hidden

	+e('img')
		width: 100%
		height: 100%
		background: url(../img/hero.jpg) 50% 50%/cover
		//background-attachment: fixed
		perspective-origin: top
		animation: heroImg 2s ease-in-out


@keyframes heroImg
	0%
		transform: scale(0)

	80%
		transform: scale(1.1)

	100%
		transform: scale(1)

.hero
	@media screen and (min-width: $tablet)
		height: 650px

.hero
	@media screen and (min-width: $desktop)
		height: 800px
