.post

  +e('container')
    width: 760px
    margin: $pad +$pad auto

  +e('article')
    margin: $pad + $pad 0

  +e('img')
    height: 300px

  +e('btn')
    padding: 5px 10px
    line-height: 1.5
    //margin: 10px


.pagination
  width: 760px
  margin: $pad auto
