<footer class="footer">
  <div class="container flex">
    <a href="#" class="footer__menu">Documentation</a>
    <a href="#" class="footer__menu">Blog</a>
    <a href="#" class="footer__menu">Jobs</a>
    <a href="#" class="footer__menu">Terms</a>
    <a href="#" class="footer__menu">Privacy</a>
    <a href="#" class="footer__menu">Site Map</a>
  </div>
</footer>


<div class="notify">

  {% include
    meta/notification.html
    name="test"
    icon="fa-bell"
    title="Although they're optional"
    content="you should add at least one action to your notification. An action allows users" %}

  {% include
    meta/notification.html
    name="test2"
    icon="fa-bell"
    title="Although they're optional"
    content="you should add at least one action to your notification. An action allows users" %}

</div>


{% include meta/scripts.html bottom="true" %}
