
<section class="layout5">
  <div class="overflow"></div>
  <div class="flex">
    <div class="layout5__item"><img src="assets/img/l51.jpg" alt="" class="layout5--img"/>
      <h3 class="title layout5__title">Customer Support</h3>
    </div>
    <div class="layout5__item"><img src="assets/img/l52.jpg" alt="" class="layout5--img"/>
      <h3 class="title layout5__title">Media & Publishing</h3>
    </div>
    <div class="layout5__item"><img src="assets/img/l53.jpg" alt="" class="layout5--img"/>
      <h3 class="title layout5__title">Web Devlopment</h3>
    </div>
  </div>
</section>