<section class="layout3"><div class="container flex"><article class="layout3__article"><h3 class="title layout3__title">Vestibulum aliquid eu</h3><p class="content layout3__content">Vestibulum aliquid eu harum dictum inventore, placeat aperiam, mi hendrerit
minima posuere ullamco occaecati,corporis. Ab pulvinar sit similique leo consequatur!
Possimus, dapibus eros asperiores.</p></article><article class="layout3__article"><h3 class="title layout3__title">Occaecat tempora porta</h3><p class="content layout3__content">Occaecat tempora porta dignissim, tempora dis, voluptas id alias. Laboriosam,
posuere lacinia per accusamus iaculis aliquam, class eget, doloribus illum,
facilisi ultricies ullamcorper eligendi! Eaque.</p></article></div></section>