<section class="layout2">
  <div class="container flex">
    <article class="layout2__article">
        <div class="layout2__img">
          <img src="assets/img/hero.jpg" alt="" class="layout2--img" />
        </div>
        <h3 class="title layout2__title">Wireframe Kit</h3>
        <p class="content layout2__content">
          Habitasse exercitation auctor hymenaeos nisi tristique, montes dolore arcu cubilia tristique senectus,
          dis nullam. Quasi quo, rhoncus proin wisi odit pharetra, iure repellat optio? Hendrerit.
          <a href="#" class="btn">Read More</a>
        </p>
    </article>
    <article class="layout2__article">
        <div class="layout2__img">
          <img src="assets/img/hero.jpg" alt="" class="layout2--img" />
        </div>
        <h3 class="title layout2__title">Wireframe Kit</h3>
        <p class="content layout2__content">
          Habitasse exercitation auctor hymenaeos nisi tristique, montes dolore arcu cubilia tristique senectus,
          dis nullam. Quasi quo, rhoncus proin wisi odit pharetra, iure repellat optio? Hendrerit.
          <a href="#" class="btn">Read More</a>
        </p>
    </article>
    <article class="layout2__article">
        <div class="layout2__img">
          <img src="assets/img/hero.jpg" alt="" class="layout2--img" />
        </div>
        <h3 class="title layout2__title">Wireframe Kit</h3>
        <p class="content layout2__content">
          Habitasse exercitation auctor hymenaeos nisi tristique, montes dolore arcu cubilia tristique senectus,
          dis nullam. Quasi quo, rhoncus proin wisi odit pharetra, iure repellat optio? Hendrerit.
          <a href="#" class="btn">Read More</a>
        </p>
    </article>
  </div>
</section>
